@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, -apple-system, sans-serif;
}

/* a {
    color: inherit;
    text-decoration: none;
    background-image: none !important;
} */

* {
    box-sizing: border-box;
}
