@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, -apple-system, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    background-image: none !important;
}

li,
ul {
    all: unset;
}

hr {
    padding: 1px !important;
}
