:root {
    --blue-france-main-525: #6a6af4;
    --blue-france-113: #000091;
    --blue-france-975: #f5f5fe;
    --blue-france-950: #ececfe;
    --blue-france-925: #e3e3fd;
    --blue-france-850: #cacafb;
    --blue-bar-chart-main: #6969f4;
    --red-marianne-main-472: #e1000f;
    --red-marianne-425: #c9191e;
    --red-marianne-975: #fef4f4;
    --red-marianne-950: #fee9e9;
    --red-marianne-925: #fddede;
    --red-marianne-850: #fcbfbf;
    --grey-main-525: #7b7b7b;
    --grey-200: #e6e6e6;
    --grey-425: #666;
    --grey-1000: #fff;
    --grey-975: #f6f6f6;
    --grey-950: #eee;
    --grey-925: #e5e5e5;
    --grey-850: #cecece;
    --grey-50: #161616;
    --info-main-525: #0078f3;
    --info-425: #0063cb;
    --info-975: #f4f6ff;
    --info-950: #e8edff;
    --info-925: #dde5ff;
    --info-850: #bccdff;
    --success-main-525: #1f8d49;
    --success-425: #18753c;
    --success-975: #dffee6;
    --success-950: #b8fec9;
    --success-925: #88fdaa;
    --success-850: #3bea7e;
    --warning-main-525: #d64d00;
    --warning-425: #b34000;
    --warning-975: #fff4f3;
    --warning-950: #ffe9e6;
    --warning-925: #ffded9;
    --warning-850: #ffbeb4;
    --error-main-525: #f60700;
    --error-425: #ce0500;
    --error-975: #fff4f4;
    --error-950: #ffe9e9;
    --error-925: #fdd;
    --error-850: #ffbdbd;
    --green-tilleul-verveine-main-707: #b7a73f;
    --green-tilleul-verveine-418: #66673d;
    --green-tilleul-verveine-975: #fef7da;
    --green-tilleul-verveine-950: #fceeac;
    --green-tilleul-verveine-925: #fbe769;
    --green-tilleul-verveine-850: #e2cf58;
}
